$ACCESS_ICON: 30px;
$WAPPER_PADDING: 0%;
.content-wrapper {
  margin: 0;
  width: 100%;
  .access {
    .ac-wrapper {
      padding-top: 10px;
      background: white;
      width: (100% - $WAPPER_PADDING * 8) / 4;
      float: left;
      .ac-one {
        background: #fd6f82;
      }
      .ac-two {
        background: #8988c2;
      }
      .ac-three {
        background: #efcfb6;
      }
      .ac-four {
        background: #feaa7c;
      }
      .ac-five {
        background: #CE93D8;
      }
      .ac-six {
        background: #EDE7F6;
      }
    }
    text-align: center;
    .ac-icon {
      .material-icons {
        margin-top: 3px;
        font-size: 20px;
      }
      margin: 0 auto;
      color: white;
      height: $ACCESS_ICON;
      width: $ACCESS_ICON;
      border-radius: $ACCESS_ICON;
      padding: 5px;
    }
    .ac-text {
      color: #909090;
      margin: 5px 0;
    }
  }
}
