@import 'main.scss';
$TITLE_COLOR: #909090;

.header {
  display:  inline-flex;
  position: fixed;
  z-index: 19;
  width: 100%;
  background-color: $MAIN_COLOR;
  line-height: 30px;
  padding: 0px 0%;
  .header-icon {
    margin: 5px 10px;
    color: $ICON_COLOR;
    cursor: pointer;
  }
  .title {
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    font-size: 18px;
    color: $TITLE_COLOR;
  }
}

.search {
  position: fixed;
  display: inline-flex;
  width: 100%;
  .input-control {
    color: $TITLE_COLOR;
    margin: 10px 0px;
    background-color: $MAIN_COLOR;
    border-bottom: solid 1px $TITLE_COLOR;
  }
}
