@import 'main.scss';
.login-page {
  margin: 20px 3% 100px 3%;
  padding: 15px 10%;
  background-color: $MAIN_COLOR;
  .portrait {
    height: 100px;
    width: 100px;
    margin: 0 auto;
  }
  .tip-left {
    color: red;
  }
}
