$INPUT_LENGTH: 100%;
$MAIN_COLOR: #9a26af;
$INPUT_BORDER: 1px;
$PLACEHOLDER_COLOR: #d3d3d3;
$BODY_COLOR: #dee1e2;
$BUTTON_PADDING: 15px;  //按钮padding
$ICON_SIZE: 30px;       //图标大小
$ICON_COLOR: #ffffff;   //图标颜色
.tip {
  text-align: right;
}
.tip-left {
  float: left;
}
.input-control {
  margin-left: 10px;
}
.input-group {
  margin-top: 50px;
}
.main-body {
  width: 100%;
  height: 90%;
  background: url("../images/skin.png");
  position: absolute;
  margin: 50px 0px;
}
.btn {
  margin: 0px;
  padding: $BUTTON_PADDING;
  border: none;
}
.form-label {
  color: #9a26af;
}
.btn.submit {
  margin: 25px 0px;
  width: 100%;
}
.block {
  box-shadow: 0px 0px 4px -2px black;
  text-align: center;
}
.input-group {
  width: 100%;
  display: inline-flex;
}
.input-control {
  width: 100%;
}
a {
  text-decoration: none;
}
input {
  outline-style: none;
  border-bottom: solid $INPUT_BORDER $MAIN_COLOR;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  .input-control {
    width: $INPUT_LENGTH;
  }
}
body {
  margin: 0px;
  font-size: 15px;
  color: black;
  font-family: microsoft yahei,youyuan;
}
pre {
  padding: 1em;
}
code>p {
  margin: 0;
  padding: 0;
  font-family: microsoft yahei;
}
::-webkit-input-placeholder {
  color: $PLACEHOLDER_COLOR;
  font-size: 16px;
}
