$INPUT_LENGTH: 100%;
$MAIN_COLOR: #9a26af;
$INPUT_BORDER: 1px;
$PLACEHOLDER_COLOR: #d3d3d3;
$BODY_COLOR: #dee1e2;
$BUTTON_PADDING: 10px;
$ICON_HOST: "../fonts/icon.woff2";
$ICON_SIZE: 35px; //图标大小
.btn {
  margin: 0px;
  padding: $BUTTON_PADDING;
  border: none;
}
.block {
  background-color: #fff;
  box-shadow: 0px 0px 4px -2px black;
  text-align: center;
}
.input-group {
  width: 100%;
  display: inline-flex;
}
.input-control {
  width: 100%;
}

input {
  outline-style: none;
  border-bottom: solid $INPUT_BORDER $MAIN_COLOR;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  .input-control {
    width: $INPUT_LENGTH;
  }
}

body {
    background: $BODY_COLOR;
    font-size: 15px;
    color: black;
    font-family: microsoft yahei,youyuan;
}

pre {
    padding: 1em;
}
code>p {
    margin: 0;
    padding: 0;
    font-family: microsoft yahei;
}
::-webkit-input-placeholder {
    color: $PLACEHOLDER_COLOR;
    font-size: 16px;
}

/* 字体图标 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'),
  url($ICON_HOST) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $ICON_SIZE;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
