.side {
  z-index: 20;
  height: 100%;
  position: fixed;
  background-color: #ffffff;
  color: #ffffff;
  width: 80%;
  .side-user {
    height: 120px;
    background: #1976D2;
    font-size: 14px;
    padding: 50px 0px 0px 10px;
    .user-image {
      border-radius: 25px;
      height: 50px;
      width: 50px;
    }
    .name, .email {
      position: relative;
      margin: 5px 0%;
    }
  }
  .panel {
    margin-top: 10px;
    .material-icons {
      float: left;
      margin: 2px 20px 0px 10px;
      font-size: 22px;
      color: #64B5F6;
    }
    .line {
      line-height: 30px;
      margin: 10px 3%;
    }
    .user-info {
      border-bottom: solid 1px rgba(0, 0, 0, 0.13);
      padding-bottom: 10px;
    }
  }
}
