@import 'main.scss';
.side {
  z-index: 20;
  height: 100%;
  position: fixed;
  background-color: $MAIN_COLOR;
  color: #ffffff;
  width: 75%;
  .side-user {
    height: 120px;
    background: $ICON_COLOR;
    font-size: 14px;
    padding: 70px 0px 0px 5%;
    .user-image {
      border-radius: 25px;
      height: 50px;
      width: 50px;
    }
    .name, .email {
      position: relative;
      margin: 5px 0%;
    }
  }
  .panel {
    margin-top: 10px;
    .material-icons {
      float: left;
      margin: 2px 20px 0px 10px;
      font-size: 22px;
    }
    .icon-collect {
      color: #f2adca;
    }
    .icon-msg {
      color: #c2b5e0;
    }
    .icon-cmt {
      color: #9adaf3;
    }
    .icon-user {
      opacity: 0.5;
      color: $ICON_COLOR;
    }
    .icon-us {
      color: #ddf1b8;
    }
    .icon-help {
      color: #d7d8dc;
    }
    .line {
      line-height: 30px;
      color: #909090;
      margin: 10px 3%;
    }
    .user-info {
      border-bottom: solid 1px rgba(0, 0, 0, 0.13);
      padding-bottom: 10px;
    }
  }
}
.side-bg {
  position: fixed;
  z-index: 19;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
