@import 'main.scss';
.signup-page {
  margin: 20px 3% 100px 3%;
  padding: 10px 10%;
  background-color: $MAIN_COLOR;
  label {
    text-align: center;
    margin: 5px 0%;
    padding: 0px 10%;
  }
  #gender {
    width: 5%;
    margin: 10px 0px;
  }
}
