$CIRCLE_SIZE: 10px;
.slider {
  position: relative;
  font-size: 0px;
  display: inline-block;
  .slider-wrapper {
    width: 400%;
    display: inline-flex;
    .slider-link {
      width: 100%;
    }
  }
  .slider-circle-wrapper {
    position: absolute;
    right: 10%;
    bottom: 5%;
    .slider-circle {
      display:  inline-block;
      margin-left: 10px;
      width: $CIRCLE_SIZE;
      height: $CIRCLE_SIZE;
      border-radius: $CIRCLE_SIZE / 2;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
