$CIRCLE_SIZE: 10px;
.slider {
  overflow: auto;
  position: relative;
  .slider-wrapper {
    display: flex;
    width: 400%;
    img {
      float: left;
    }
  }
  .slider-circle-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 12px 5%;
    background: rgba(0, 0, 0, 0.2);
    width: 90%;
    .slider-circle {
      position: relative;
      float: right;
      margin-left: 10px;
      width: $CIRCLE_SIZE;
      height: $CIRCLE_SIZE;
      border-radius: $CIRCLE_SIZE / 2;
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
}
